body {
    font-family: Arial, sans-serif;
    background-color: #cc9595;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 20%;
 height: 320px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;

}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-container {
    display: flex;
    align-items: center;
}
.select-container img {
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.5rem;
}
#to-currency {
    border: none;
}
#from-currency {
    border: none;
}
button[type="submit"] {

    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.msg{
    margin-top: 40px;
}